{% extends "base.html" %}
{% load url from future %}

{% block content %}
<p class="lead">Please log in to access the gift exchange.  If you don't have an account, ask someone with an account to add you to their gift list.</p>
<hr>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
<div class="row-fluid">
    <div class="span4">
        {% csrf_token %}
        {{ form }}
        <input type="hidden" name="next" value="{{ next }}" >
    </div>
</div>
<br>
<div class="row-fluid">
    <div class="span4">
        <input type="submit" value="   Login   " class="btn btn-primary btn-block">    
    </div>
</div>
</form>

{% endblock %}