{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<h1>Welcome to Christmas 2012 Gift Tracker</h1>
<hr>
<form action='.' method='POST'>
    <div class="row-fluid">
        <div class="span7 pull-right well">
            <p>You've been invited to join by a friend who is using the site to plan gifts for you.  Once you create your account, you'll be able to set up a list of gifts that you want, and anyone who is planning on giving you a gift this holiday season will be able to see your list.  You'll also be able to see lists anyone on <em>your</em> list has created, and reserve gifts so that no one else gets them the same thing.</p>
            <img class="hidden-phone" src="{{STATIC_URL}}img/gift.png">
            <input type="submit" value="Create Account" class="btn btn-primary btn-large pull-right">
        </div>
        <div class="span5 pull-left">
            <form action='.' method='POST'>
                {% csrf_token %}
                {{ form|as_bootstrap }}
            </form>
        </div>
    </div>
</form>
{% endblock %}