{% extends "base.html" %}
{% block content %}
<div class="row-fluid well">
    <div class="span9">
        <h1>Happy Holidays!</h1>
        <p>Welcome to the gift giver.  Ask for some gifts, give some gifts, and enjoy the spirit of giving!</p>
        {% comment %}
        <p>Welcome to the gift giver.  First, enter some gifts you want in the first section. These will be shown to anyone who wants to give you a gift.  Second, enter the people you want to give gifts to.  If they have already entered gifts, you will be able to see their selections, and reserve one so that no one else buys them the same gift.  If they haven't entered any gifts, you can enter one for them.  Don't worry - they won't see that you've entered or reserved a gift - only you will!</p>{% endcomment %}
    </div>
    <div class="span2 pull-right">
        <img class="hidden-phone" height="100" width="100" src="{{STATIC_URL}}img/gift.png">
    </div>
</div>
<br>
<div class="">
{% include 'gifts_for_me.html' %}
</div>
<hr>
<div class="">
{% include 'gifts_for_you.html' %}
</div>
<br><br><br><br>
{% endblock %}