{% extends 'base.html' %}
{% block content %}
<h3>Gift Selection for {{ user.name }}</h3>
<p>Select a gift that you plan to give {{ user.first_name }}.  They will never know what you select.  If you don't see anything you'd like to give {{ user.first_name }}, you can add your own item</p>
<hr>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Price</th>
            <th>Select</th>
        </tr>
    </thead>
    <tbody>
        {% for gift in gifts %}
        <tr class="{% if gift.pk in reserved_gifts %}info{% endif %}">
            <td>
                {% if gift.url %}<a href="{{ gift.url }}" target="_blank">{{ gift.title }}</a>{% else %}{{ gift.title }}{% endif %}
                {% if gift.secret %} <small class="muted">(Secret)</small>{% endif %}</td>
            <td>{{ gift.description }}</td>
            <td>{{ gift.price }}</td>
            <td>
                {% if gift.pk in reserved_gifts %}
                    <a class="btn btn-inverse btn-small" href="{% url Gifts.views.unreserve_gift user.pk gift.pk %}">
                    {% if gift.secret %}Delete{% else %}Unreserve{% endif %}</a>
                {% elif gift.reserved_by %}Reserved
                {% else %}<a class="btn btn-small" href="{% url Gifts.views.reserve_gift user.pk gift.pk %}">Reserve</a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan=4>{{ user.first_name }} hasn't selected any gifts yet.  Remind them to, or add your own gift!</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan=4><a class="btn btn-primary btn-small" href="{% url Gifts.views.add_secret_gift user.pk %}">+ Something Else</a><br><br>
            <a href="{% url Gifts.views.user_gift_request user.pk %}">Ask {{ user.first_name }} to add more</a></td>
        </tr>
    </tbody>
</table>
{% endblock %}