{% extends 'base.html' %}
{% block content %}
<div class="row-fluid">
    <div class="span12">
        <p class="lead">Select the people you want on your gift list, or add new people to the system.</p>
        <p>No one will know if they are on your list or not.</p>
        <hr>
        <div class="row-fluid">
            <div class="span4 pull-right">
                <br><br>
                <div class="well span12">
                    <p>Select the people you want to give gifts to.  You'll be able to see and reserve any gifts they've added to their own lists.</p><br>
                    <p>If you can't find someone you want to give gifts to, they may not have joined Gift List yet.  Click Add a New Person to add them to your list, and invite them to join Gift List.</p>
                </div>
            </div>
            <div class="span7 pull-left">
                <table class="table table-striped">
                    <thead>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr class="well">
                            <form class="form-search form-inline" action="." method="GET">
                                <td colspan="2">
                                    <div class="row-fluid">
                                        <div class="span12 input-prepend input-append">
                                            <span class="add-on"><i class="icon-search"></i></span>
                                            <input type="text" name="q" id="appendedInputButton" placeholder="Filter by name or email" class="input-large search-query" value="{{ q }}">
                                            <span class="add-on">
                                            <a href="{% url 'Gifts.views.view_all_people' %}" class=""><i class="icon-remove-circle"></i></a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-default pull-right">Filter</button>
                                </td>
                            </form>
                        </tr>
                        {% for person, following in people %}
                        <tr>
                            <td>{{ person.name }}</td>
                            <td><a href="mailto:{{ person.email }}">{{ person.email }}</a></td>
                            <td>
                                {% if following %}<a class="btn btn-inverse btn-small pull-right" href="{% url 'Gifts.views.unfollow_person' person.pk %}">Remove</a>
                                {% else %}<a class="btn btn-info btn-small pull-right" href="{% url 'Gifts.views.follow_person' person.pk %}">Add</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan='3'>No one matched that search.  Add them if they're not already on the site!</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p class="pull-right">
                    <a class="btn btn-success pull-right" href="{% url 'Gifts.views.add_person' %}">Add a New Person</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}